
/* tiuring car css  */

body .navbar-inverse {
    background-color: rgba(0,60,85,0.9);
    border: 0px solid white;
}


.navbar-nav li a {
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 14px;
    text-transform: uppercase;
    color:white;
}

.footercenter {
    text-align: center;
}

/* toring car css ends up */

